* {
    margin: 0;
}


header {
    height: 180px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

.logo {
    width: 300px;
    margin: 80px 10px 20px;;
}

.title {
    font-size: 60px;;
}

.author-info {
    font-size: 30px;
    font-weight: bold;
}

.text-info , .date-info {
    color: #838383;
}

.author-info a {
    color: #4AB9EA;
    text-decoration: none;
}

.image {
    margin-top: 20px;
}

.text > p {
    font-size: 20px;
    margin-top: 20px;;
}

.highlighted-text {
    background-color:#FFFF00;
}

.list > ul {
    padding-left: 20px;
    font-size: 20px;
    margin-top: 30px;
}


